 @{ 
  Layout = "_Layout";
}
<h1>Project Name!</h1>

<p>Tag Line Goes Here</p>

<p>@Html.ActionLink("See all [insert item here]!", "Index", "[Insert views folder here]")</p> <p>@Html.ActionLink("See all Planets", "Index", "Planets")</p>
