@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model List<PierresTreats.Models.Flavor>;

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
  <h3>No flavors have been added yet!</h3>
} 

@foreach (Flavor flavor in Model)
{
  <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId })</li>
}

<p>@Html.ActionLink("Add new flavor", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>